absl-py==1.4.0
array-record==0.4.1
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
dm-tree==0.1.8
etils==1.5.1
fsspec==2023.9.2
googleapis-common-protos==1.61.0
idna==3.4
importlib-resources==6.1.0
numpy==1.26.1
promise==2.3
protobuf==3.20.3
psutil==5.9.6
requests==2.31.0
setuptools==68.2.2
six==1.16.0
tensorflow-datasets==4.9.3
tensorflow-metadata==1.14.0
termcolor==2.3.0
toml==0.10.2
tqdm==4.66.1
typing_extensions==4.8.0
urllib3==2.0.6
wheel==0.41.2
wrapt==1.15.0
zipp==3.17.0